*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 100px;
    background-color: #e579e6 ;
}

/* main */

main{
    margin: 20px 0 8px;
}

#jumbotron{
    height: 400px; /*to remove when filled with text*/
    background-color: #e1d67a;
    margin-bottom: 20px;
}

#core-content{
    height: 500px; /*to remove when filled with text*/
    background-color: #0086ff;
}

/* footer */
footer{
    height: 50px;
    background-color: #8801fe;
}