*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 100px;
    background-color: #e579e6 ;
}

/* main */
#jumbotron{
    height: 400px; /*to remove when filled with text*/
    background-color: #e1d67a;
}

#core-content{
    height: 500px; /*to remove when filled with text*/
    background-color: #0086ff;
}